<script>
  export let game;
</script>

<div
  class="flex items-center border border-gray-200 p-4 m-4 rounded-lg shadow cursor-pointer hover:bg-gray-100 hover:border-gray-500 space-x-4"
>
  <div class="w-64 text-right">
    <div>{game.team}</div>
    <div>{game.opp}</div>
  </div>
  <div class="w-24">{game.pred.toFixed(1)}</div>
  <div class="w-24">{game.score || ""}</div>
</div>
