<script>
  import moment from "moment";
  export let date = moment();

  function addDay() {
    date = date.add(1, "days");
  }

  function subtractDay() {
    date = date.subtract(1, "days");
  }
</script>

<div class="text-3xl py-16 flex justify-center">
  <span on:click={subtractDay} class="cursor-pointer mr-4">
    <svg
      class="text-black w-8 h-8"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"
      />
    </svg>
  </span>
  Stats {date.format("MM/DD/YYYY")}
  <span on:click={addDay} class="cursor-pointer ml-4">
    <svg
      class="text-black w-8 h-8"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"
      />
    </svg>
  </span>
</div>
