<script>
  export let spread;
  export let book = ["fanduel", "draftkings", "foxbet"];
  $: bookmaker = spread.bookmakers.find((s) => book.includes(s.key));
</script>

{#if bookmaker}
  <div
    class="flex flex-col flex-wrap items-center border border-gray-200 p-4 m-4 rounded-lg shadow cursor-pointer hover:bg-gray-100 hover:border-gray-500 w-2/3"
  >
    {#each bookmaker.markets as market}
      <div class="flex space-x-1 text-right">
        <div class="w-64 text-right">{bookmaker.title} odds</div>
        <div class="w-24 font-bold">Line</div>
        <div class="w-24 font-bold">Scores</div>
        <div class="w-24 font-bold">Prediction</div>
      </div>
      {#each market.outcomes as outcome}
        <div class="flex space-x-1 text-right">
          <div class="w-64 text-left">{outcome.name}</div>
          <div class="w-24">{outcome.point}</div>
          <div class="w-24">
            {#if spread.home_team == outcome.name}
              {spread.home_score || ""}
            {:else}
              {spread.away_score || ""}
            {/if}
          </div>
          <div class="w-24">
            {#if spread.home_team == outcome.name}
              {spread.home_pred || ""}
            {:else}
              {spread.away_pred || ""}
            {/if}
          </div>
        </div>
      {:else}
        <p>missing outcome</p>
      {/each}
    {:else}
      <p>missing market</p>
    {/each}
  </div>
{/if}
