<script>
  import axios from "axios";
  import moment from "moment";
  import { onMount } from "svelte";
  import Spread from "$lib/Spread/index.svelte";
  import Game from "$lib/Game/index.svelte";
  import DatePicker from "$lib/DatePicker/index.svelte";

  let spreads = [];
  let games = [];

  let date = moment();
  $: day = date.date();
  $: month = date.month() + 1;
  $: year = date.year();

  function graphPredict(day, month, year) {
    return axios
      .get("/predict/graph", {
        params: {
          day: day,
          month: month,
          year: year,
        },
      })
      .then((resp) => resp.data);
  }

  function getSpreads(day, month, year) {
    return axios
      .get("/db/spreads", {
        params: {
          day: day,
          month: month,
          year: year,
        },
      })
      .then((resp) => resp.data);
  }

  function updateGames(games, spreads) {
    for (var game of games) {
      for (var spread of spreads) {
        if (spread.home_team.startsWith(game.teams[0])) {
          spread.home_score = game.scores[0];
          spread.home_id = game.team_ids[0];
          spread.away_score = game.scores[1];
          spread.away_id = game.team_ids[1];
        }
        if (spread.away_team.startsWith(game.teams[0])) {
          spread.home_score = game.scores[1];
          spread.home_id = game.team_ids[1];
          spread.away_score = game.scores[0];
          spread.away_id = game.team_ids[0];
        }
        if (spread.home_team.startsWith(game.teams[1])) {
          spread.home_score = game.scores[1];
          spread.home_id = game.team_ids[1];
          spread.away_score = game.scores[0];
          spread.away_id = game.team_ids[0];
        }
        if (spread.away_team.startsWith(game.teams[1])) {
          spread.home_score = game.scores[0];
          spread.home_id = game.team_ids[0];
          spread.away_score = game.scores[1];
          spread.away_id = game.team_ids[1];
        }
      }
    }
  }

  function update() {
    spreads = [];
    games = [];
    graphPredict(day, month, year)
      .then((res) => (games = res))
      .then(() => getSpreads(day, month, year))
      .then((res) => (spreads = res));
  }

  $: date, update();

  onMount(async () => {
    update();
  });
</script>

<svelte:head>
  <title>CBB</title>
</svelte:head>

<div class="flex flex-col items-center">
  <DatePicker bind:date />

  {#each games as game}
    <Game {game} />
  {:else}
    <div class="items-center">Loading...</div>
  {/each}
</div>
