<template>
  <div class="flex flex-col items-center">
    <div
      class="absolute inset-0 items-center justify-center flex bg-gray-100 bg-opacity-80 z-50"
      v-if="showGameDetails"
      @click.self="showGameDetails = false"
    >
      <div
        class="w-3/4 h-3/4 overflow-y-scroll bg-white border border-gray-200 rounded-2xl shadow-xl flex flex-col items-center p-4"
      >
        <div class="text-3xl">Game Details</div>

        <div class="flex">
          <div class="flex flex-col text-right p-3">
            <div class="font-bold">Team</div>
            <div>
              <a
                :href="
                  `https://www.sports-reference.com/cbb/schools/${
                    gameDetails.game.team_ids[0]
                  }/${date.format('YYYY')}.html`
                "
                target="_blank"
                >{{ gameDetails.game.teams[0] }}</a
              >
            </div>
            <div>
              <a
                :href="
                  `https://www.sports-reference.com/cbb/schools/${
                    gameDetails.game.team_ids[1]
                  }/${date.format('YYYY')}.html`
                "
                target="_blank"
                >{{ gameDetails.game.teams[1] }}</a
              >
            </div>
          </div>
          <div class="flex flex-col text-right p-3">
            <div class="font-bold">Spread</div>
            <div>{{ gameDetails.game.lines[0] }}</div>
            <div>{{ gameDetails.game.lines[1] }}</div>
          </div>
          <div class="flex flex-col text-right p-3">
            <div class="font-bold">Odds</div>
            <div>{{ gameDetails.game.odds[0] }}</div>
            <div>{{ gameDetails.game.odds[1] }}</div>
          </div>
        </div>

        <div v-if="!!gameDetails.awayStats & !!gameDetails.homeStats" class="flex flex-wrap">
          <div
            v-for="(value, stat) in gameDetails.awayStats"
            :key="stat"
            class="flex flex-col p-3 text-right"
          >
            <div class="font-bold">{{ stat }}</div>
            <div>{{ gameDetails.awayStats[stat].toFixed(2) }}</div>
            <div>{{ gameDetails.homeStats[stat].toFixed(2) }}</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="absolute inset-0 items-center justify-center flex bg-white bg-opacity-80 z-50"
      v-if="loading"
    >
      <div class="animate-spin">
        <svg
          class="text-gray-500 w-32 h-32"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
          />
        </svg>
      </div>
    </div>
    <div class="text-3xl py-16 flex items-center">
      <span @click="subtractDay" class="cursor-pointer mr-4">
        <svg
          class="text-black w-8 h-8"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </span>
      Stats {{ date.format("MM/DD/YYYY") }}
      <span @click="addDay" class="cursor-pointer ml-4">
        <svg
          class="text-black w-8 h-8"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </span>
    </div>

    <div class="max-w-full flex flex-wrap justify-center mx-10">
      <div
        v-for="(game, n) in games"
        :key="n"
        class="flex flex-wrap border border-gray-200 p-4 m-4 rounded-lg shadow cursor-pointer hover:bg-gray-100 hover:border-gray-500"
        @click="getGameDetails(game)"
      >
        <div class="flex-col p-1 mr-2">
          <div class="font-bold">Rk</div>
          <div v-for="(rank, n) in game.ranks" :key="n">
            {{ rank ? `(${rank})` : "&nbsp;" }}
          </div>
        </div>
        <div class="flex flex-col p-1 w-32">
          <div class="font-bold">Team</div>
          <div v-for="(team, n) in game.teams" :key="n" class="hover:text-gray-500">
            <a
              :href="
                `https://www.sports-reference.com/cbb/schools/${game.team_ids[n]}/${date.format(
                  'YYYY'
                )}.html`
              "
              target="_blank"
              >{{ team }}</a
            >
          </div>
        </div>
        <div class="flex flex-col p-1 w-12 text-right">
          <div class="font-bold">Line</div>
          <div v-for="(line, n) in game.lines" :key="n" class="flex justify-end items-center">
            <span v-if="game.cover[n]">
              <svg
                class="w-4 h-4 text-green-800"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </span>
            {{ line }}
          </div>
        </div>
        <div v-if="!!game.pred" class="flex flex-col p-1 w-12 text-right">
          <div class="font-bold">Pred</div>
          <div class="flex justify-end items-center">
            {{ (-1*game.pred).toFixed(1) }}
          </div>
          <div class="flex justify-end items-center">
            {{ (game.pred).toFixed(1) }}
          </div>
        </div>
        <div class="flex flex-col p-1 w-12 text-right">
          <div class="font-bold">Odds</div>
          <div v-for="(odd, n) in game.odds" :key="n" class="">
            {{ odd }}
          </div>
        </div>
        <div class="flex flex-col p-1 w-24 text-right">
          <div class="font-bold">Score {{ game.time == "OT" ? "(OT)" : "" }}</div>
          <div
            v-for="(score, n) in game.scores"
            :key="n"
            :class="{ 'font-bold': game.winner == n }"
            class="flex justify-end items-center"
          >
            <span v-if="game.winner[n]">
              <svg
                class="w-4 h-4 text-green-800"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </span>
            {{ score ? score : "" }}
          </div>
          <div class="flex flex-col flex-1 justify-center" v-if="!game.scores[0]">
            <div>{{ game.time }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  name: "Stats",
  data() {
    return {
      date: moment(),
      gamesURL: "/games",
      spreadsURL: "/spreads",
      statsURL: "/stats/team",
      predictURL: "/predict",
      games: null,
      spreads: null,
      showGameDetails: false,
      gameDetails: {
        game: null,
        homeStats: null,
        awayStats: null
      },
      loading: false
    };
  },
  created() {
    this.updateGames();
  },
  methods: {
    updateGames() {
      this.loading = true;
      this.getGames(this.date).then(() =>
        this.getSpreads(this.date).then(() => {
          this.loading = false;
        })
      );
    },
    addDay() {
      this.date = this.date.add(1, "days");
      this.updateGames();
    },
    subtractDay() {
      this.date = this.date.subtract(1, "days");
      this.updateGames();
    },
    predictGame(game) {
      axios.get(`${this.predictURL}?team1=${game.team_ids[0]}&team2=${game.team_ids[1]}`).then((resp) => game.pred = resp.data)
    },
    getGames(date) {
      return axios
        .get(
          `${this.gamesURL}?day=${date.format("DD")}&month=${date.format("MM")}&year=${date.format(
            "YYYY"
          )}`
        )
        .then(resp => {
          this.games = resp.data;
          for (var game of resp.data) {
            this.predictGame(game)
            game.margin = [game.scores[0] - game.scores[1], game.scores[1] - game.scores[0]];
            game.winner = [game.margin[0] > 0, game.margin[1] > 0];
          }
        });
    },
    getSpreads(date) {
      return axios
        .get(
          `${this.spreadsURL}?day=${date.format("DD")}&month=${date.format(
            "MM"
          )}&year=${date.format("YYYY")}`
        )
        .then(resp => {
          this.spreads = resp.data;
          for (var game of this.games) {
            for (var spread of this.spreads) {
              if (game.teams[0] == spread.teams[0]) {
                game.lines = spread.lines;
                game.odds = spread.odds;
                if (!!game.margin[0]) {
                  game.cover = [
                    game.margin[0] + Number(game.lines[0]) > 0,
                    game.margin[1] + Number(game.lines[1]) > 0
                  ];
                } else {
                  game.cover = [false, false];
                }
                continue;
              }
            }
          }
        });
    },
    getGameDetails(game) {
      this.loading = true;
      let awayTeamID = game.team_ids[0];
      let homeTeamID = game.team_ids[1];
      this.gameDetails.game = game;
      this.gameDetails.awayStats = null;
      this.gameDetails.homeStats = null;
      let awayReq = axios
        .get(`${this.statsURL}?team=${awayTeamID}&year=${this.date.format("YYYY")}`)
        .then(resp => {
          console.log(resp.data);
          this.gameDetails.awayStats = resp.data;
        });
      let homeReq = axios
        .get(`${this.statsURL}?team=${homeTeamID}&year=${this.date.format("YYYY")}`)
        .then(resp => {
          console.log(resp.data);
          this.gameDetails.homeStats = resp.data;
        });
      Promise.all([awayReq, homeReq]).then(() => {
        this.loading = false;
      });
      this.showGameDetails = true;
    }
  }
};
</script>
